/* colors */
/* variables */
/* mixins */
/* functions */
/* position mixins */
/* visual mixins */
/* other mixins */
.blurred {
  filter: blur(4px);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px); }

/* fonts */
/* custom fonts */
@font-face {
  font-family: LatoLight;
  src: font-url("LatoLight.ttf") format("truetype"); }
@font-face {
  font-family: LatoRegular;
  src: font-url("LatoRegular.ttf") format("truetype"); }
/* force chrome to render svg */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'FontAwesome';
    src: url("/assets/fontawesome-webfont.svg#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal; }
  @font-face {
    font-family: LatoLight;
    src: font-url("LatoLight.svg") format("svg"); }
  @font-face {
    font-family: LatoRegular;
    src: font-url("LatoRegular.svg") format("svg"); }
  @font-face {
    font-family: LatoLightItalic;
    src: font-url("LatoLightItalic.svg") format("svg"); } }
/* font families */
/* font mixins */
/* utility mixins */
.uppercased-first:first-letter {
  text-transform: uppercase; }

/* foundation */
/* base elements */
body {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

h1 {
  font-size: rem-calc(44);
  font-weight: 300;
  color: #00a2c1;
  line-height: rem-calc(55);
  font-family: LatoLight, "Segoe UI Light", Helvetica, Arial, sans-serif;
  line-height: rem-calc(49);
  text-align: center; }
  h1:first-letter {
    text-transform: uppercase; }

h2 {
  font-size: rem-calc(32);
  font-weight: 300;
  color: #a0a0a0;
  line-height: rem-calc(40);
  font-family: LatoLight, "Segoe UI Light", Helvetica, Arial, sans-serif;
  line-height: rem-calc(32);
  text-align: center; }
  h2:first-letter {
    text-transform: uppercase; }

h3 {
  font-size: rem-calc(24);
  font-weight: normal;
  color: #00a2c1;
  line-height: rem-calc(30);
  font-family: LatoRegular, "Segoe UI", Helvetica, Arial, sans-serif; }

p {
  font-size: rem-calc(18);
  font-weight: normal;
  color: #6a6e70;
  line-height: rem-calc(22.5);
  font-family: LatoRegular, "Segoe UI", Helvetica, Arial, sans-serif; }

a {
  font-size: rem-calc(18);
  font-weight: normal;
  color: #00a2c1;
  line-height: rem-calc(22.5);
  font-family: LatoRegular, "Segoe UI", Helvetica, Arial, sans-serif; }
  a:hover {
    color: #00b7db;
    text-decoration: none; }

img {
  width: 100%; }
