@import "_base";

.app, .inner-wrap, .off-canvas-wrap, .inner-nav, .main-section, .steps {
	height: 100%;
}

body {
	background: url(../img/banner.jpg) center center no-repeat fixed;
	background-size: cover;
}

.header {
	
	height: rc(160);
	position: relative;
	h1 {
		@include absolute-expanded;
		@include sans(50, 300, white);
		margin: 0;
		padding-top: rc(16);
	}
}

.counter {
	background: black(0.3);
	padding: rc(12);
	h2 {
		@include sans(32, 300, white(0.8));
		margin: 0;
	}
}

.steps {
	clear: both;
	padding-top: rc(16);
	.step {
		display: block;
		margin-top: rc(8);
		overflow: hidden;
		padding: rc(8);
		position: relative;
		&.step-1 { background: $yellow; }
		&.step-2 { background: $blue; }
		&.step-3 { background: $red; }
		h2 {
			@include sans(24, normal, white);
			padding-left: rc(80);
			text-align: left;
			.number {
				@include absolute-tlwh(50%, rc(8));
				@include circular-icon(rc(72), white(0.25), white(0.25), white, rc(32));
				margin-top: rc(-36);
				z-index: 0;
			}
		}
	}
}