@import "_base";

.app, .inner-wrap, .off-canvas-wrap, .inner-nav, .main-section, .steps {
	height: 100%;
}

.tab-bar {
	background: $primary;
	.left-small {
		border-right-color: black(0.1);
	}
	h1 {
		@include sans(18, normal, white);
		line-height: 45px;
	}
	.social {
		color: white;
		display: block;
		height: 45px;
		line-height: 45px;
		padding: 0 16px;
	}
}

#main-section {
	height: 100%;
	overflow-y: auto;
	padding-bottom: 44px;
}

body {
	background: url(../img/banner.jpg) center center no-repeat fixed;
	background-size: cover;
}

.header {
	height: rc(160);
	position: relative;
	h1 {
		@include absolute-expanded;
		@include sans(50, 300, white);
		margin: 0;
		padding-top: rc(16);
		@media #{$medium-up} {
			font-size: rc(64);
			padding-top: rc(40);
		}
	}
}

.candidates {
	border: 10px solid black(0.5);
	.candidate {
		background: transparent center center no-repeat;
		background-size: cover;
		float: left;
		height: 200px;
		position: relative;
		width: 20%;
		p {
			@include absolute-expanded(auto);
			@include sans(18, normal, white(0.8));
			background: black(0.75);
			display: none;
			margin: 0;
			padding: 16px;
		}
		&:hover {
			p { display: block; }
		}
	}
}

.counter {
	background: black(0.3);
	padding: rc(12);
	h2 {
		@include sans(32, 300, white(0.8));
		margin: 0;
	}
}

.steps {
	clear: both;
	padding-top: rc(16);
	.step {
		display: block;
		margin-top: rc(8);
		overflow: hidden;
		padding: rc(8);
		position: relative;
		&.step-1 { background: $yellow; }
		&.step-2 { background: $blue; }
		&.step-3 { background: $red; }
		h2 {
			@include sans(24, normal, white);
			padding-left: rc(80);
			text-align: left;
			.number {
				@include absolute-tlwh(50%, rc(8));
				@include circular-icon(rc(72), white(0.25), white(0.25), white, rc(32));
				margin-top: rc(-36);
				z-index: 0;
			}
		}
	}
}

.accordion {
	dd {
		a {
			background: $primary;
			color: white;
			font-size: rc(20);
			&:hover {
				background: $lprimary;
			}
		}
		&.active {
			a { background: $dprimary; }
		}
	}
}

.section {
	background: white(0.9);
	padding: rc(16);
	&.transparent {
		background: white(0.3);
	}
	&.dark {
		background: $dblue;
	}
	@media #{$medium-up} {
		padding: rc(32);
	}
	h1 {
		color: $blue;
		margin: 0;
		padding: rc(16 0 32);
		@media #{$medium-up} {
			@include sans(50, normal, $blue);
		}
	}
	h2 {
		margin-top: rc(32);
		padding: rc(24 0 8);
		border-top: 1px solid black(0.1);
		a {
			font-size: rc(32);
		}
	}
	.video {
		padding-bottom: rc(16);
	}
	bloquote {
		padding-bottom: rc(16);	
	}
}

.main-site {
	@media #{$small-only} {
		padding: rc(0 16);
	}
}


